[submodule "libs/websocketpp"]
	path = libs/websocketpp
	url = https://github.com/zaphoyd/websocketpp
	branch = master
[submodule "libs/asio"]
	path = libs/asio
	url = https://github.com/chriskohlhoff/asio
	branch = master
